<div class="box-body">
  <div id="notice" class="alert alert-success" role="alert">
    <%= notice %>
  </div>

  <%= link_to t('generic.edit'), edit_admin_asset_path(@asset), class: 'btn btn-primary' %>
  <%= link_to t('generic.back'), admin_assets_path, class: 'btn btn-danger' %>
</div>