<% if @customer.errors.any? %>
  $("#changePasswordAlert div").empty();
  <% @customer.errors.full_messages.each do |error| %>
    $("#changePasswordAlert div").append('<div><%= error %></div>');
  <% end %>
  if ($("#changePasswordAlert").hasClass("hidden"))
    $("#changePasswordAlert").removeClass("hidden");
<% else %>
  $("#changePasswordAlert div").empty();
  $("#changePasswordModal").modal('hide');
  if (!$("#changePasswordAlert").hasClass("hidden"))
    $("#changePasswordAlert").addClass("hidden");
  window.location.assign("<%= new_user_session_url %>");
<% end %>
