<% content_for :page_header, SpaceType.model_name.human(count: 2) %>
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title"><%= t('helpers.new', model: SpaceType.model_name.human) %></h3>
  </div>
  <div class="box-body">
    <%= render 'form' %>
  </div>
</div>
