<section class="content-404">
  <div class="content-404-style container">
      <i class="fa fa-cog icon-404"></i>
      <h1 class="title-404">404</h1>
      <p><%= t('generic.404_error') %></p>
      <div class="entry-404-meta">
          <%= link_to t('generic.go_home'), root_path %>
      </div>
  </div>
</section>
