<!-- Begin Footer -->
<footer class="tz-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footerattr">
        <aside class="widget_contact_info widget" id="contact_info-2">
          <h3 class="module-title title-widget">
            <span>LOCATION</span>
          </h3>
          <div class="tzwidget-contact">
            <address>
              London, UK, 10, Friks Avenue
            </address>
            <span>
              +0987 092 291 091
            </span>
            <span class="wemail">info@everline.com</span>
          </div>
        </aside>
      </div>
      <div class="col-md-4 footerattr">
        <aside class="widget_widget_logo widget" id="widget_logo-2">
          <div class="tz_logo_widget">
            <a href="#">
              <%= image_tag 'site/EverlineTheme.png' %>
            </a>
            <p>All right server. Copyright by TemPlaza.com</p>
          </div>
        </aside>
      </div>
      <div class="col-md-4 footerattr">
        <aside class="widget_tz_social widget" id="tz_social-2">
          <h3 class="module-title title-widget">
            <span>GET IN TOUCH</span>
          </h3>
          <div class="tz_social">
            <a class="fa fa-facebook" href="#"></a>
            <a class="fa fa-google-plus" href="#"></a>
            <a class="fa fa-twitter" href="#"></a>
            <a class="fa fa-youtube" href="#"></a>
          </div>
        </aside>
      </div>
    </div>
    <!--end class row-->
  </div>
  <!--end class container-->
</footer>
<!-- End Footer -->
