<!-- Begin Header -->
<header class="tz-header tz-header1">
  <div class="wrapbox">
    <div class="container">
      <button class="btn-navbar tz_icon_menu" data-target=".nav-collapse" type="button">
        <i class="fa fa-bars"></i>
      </button>
      <h3 class="tzlogo pull-left">
        <a href="#" title="Everline">
          <img alt="Everline" src="images/Everline_logo.png">
        </a>
      </h3>
      <button class="tz-search pull-right">
        <i class="fa fa-search"></i>
      </button>
      <nav class="pull-right tznav-menu">
        <ul class="tz-menu nav-collapse themeple_megemenu" id="menu-primary">
          <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item" id="menu-item-102">
            <a href="index.html">Home</a>
          </li>
          <li class="menu-item menu-item-type-custom" id="menu-item-397">
            <a href="#">Features</a>
          </li>
          <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children" id="menu-item-183">
            <a href="blog.html">Blog</a>
          </li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children" id="menu-item-279">
            <a href="#">Portfolio</a>
          </li>
          <li class="menu-item menu-item-type-taxonomy menu-item-object-tribe_events_cat menu-item-has-children" id="menu-item-373">
            <a href="event.html">Events</a>
          </li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children" id="menu-item-20">
            <a href="shop.html">Shop</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<!-- End Header -->
