<nav class="pull-left <%= local_assigns[:nav_class] %>">
  <ul class="tz-menu nav-collapse themeple_megemenu" id="menu-primary">
    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-has-children" id="menu-item-102">
      <a href="/">Home</a>
    </li>
    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children" id="menu-item-183">
      <a href="/blog">Blog</a>
    </li>

    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children" id="menu-item-183">
      <%= link_to t('views.app.auth.sign_in'), new_user_session_path %>
    </li>
  </ul>
</nav>
