<% content_for :header do %>
  <%= render 'shared/header_main' %>
<% end %>

<div class="vc_row wpb_row vc_row-fluid">
  <div class="nocontainer">
    <div class="vc_col-sm-12 wpb_column vc_column_container ">
      <div class="wpb_wrapper">
        <div class="wpb_revslider_element wpb_content_element">
          <!-- START REVOLUTION SLIDER 4.6.0 fullscreen mode -->
          <div class="rev_slider_wrapper fullscreen-container" id="rev_slider_3_1_wrapper">
            <div class="rev_slider fullscreenbanner" id="rev_slider_3_1">
              <ul>
                <!-- SLIDE  -->
                <li data-masterspeed="600" data-saveperformance="off" data-slotamount="7" data-transition="fade">
                  <!-- MAIN IMAGE -->
                  <img alt="everline" data-bgfit="100" data-bgfitend="110" data-bgposition="center top" data-bgpositionend="center center" data-duration="9000" data-ease="Linear.easeNone" data-kenburns="on" src="http://placehold.it/1920x923">
                  <!-- LAYERS -->

                  <!-- LAYER NR. 1 -->
                  <div class="tp-caption tzcharacters customin tp-resizeme" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1.1;scaleY:1.1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-easing="Power0.easeIn"
                    data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" data-speed="580" data-splitin="none" data-splitout="none" data-start="1000" data-x="390" data-y="237">
                    &amp;
                  </div>

                  <!-- LAYER NR. 2 -->
                  <div class="tp-caption customin stt tp-resizeme" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1.1;scaleY:1.1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-easing="Power0.easeIn"
                    data-elementdelay="0.1" data-endeasing="Power0.easeIn" data-endelementdelay="0.1" data-endspeed="400" data-speed="500" data-splitin="none" data-splitout="none" data-start="1000" data-voffset="-68" data-x="148" data-y="center">
                    <div class="tp-layer-inner-rotation tztitle-slider">
                      Selina
                    </div>
                  </div>

                  <!-- LAYER NR. 3 -->
                  <div class="tp-caption customin stb tp-resizeme" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1.1;scaleY:1.1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-easing="Power0.easeIn"
                    data-elementdelay="0.1" data-endeasing="Power0.easeIn" data-endelementdelay="0.1" data-endspeed="400" data-speed="500" data-splitin="none" data-splitout="none" data-start="1200" data-voffset="72" data-x="85" data-y="center">
                    <div class="tp-layer-inner-rotation tztitle-slider ">
                      Jacos
                    </div>
                  </div>
                </li>

                <!-- SLIDE  -->
                <li data-masterspeed="600" data-saveperformance="off" data-slotamount="7" data-transition="fade">
                  <!-- MAIN IMAGE -->
                  <img alt="home121" data-bgfit="110" data-bgfitend="100" data-bgposition="center top" data-bgpositionend="center center" data-duration="10000" data-ease="Power0.easeIn" data-kenburns="on" src="http://placehold.it/1920x926">
                  <!-- LAYERS -->

                  <!-- LAYER NR. 4 -->
                  <div class="tp-caption slider_ds sfb stb tp-resizeme" data-easing="Power4.easeOut" data-elementdelay="0.1" data-endeasing="Power4.easeOut" data-endelementdelay="0.1" data-endspeed="400" data-hoffset="0" data-speed="1200" data-splitin="none"
                    data-splitout="none" data-start="3000" data-voffset="20" data-x="center" data-y="center">Thank you for choosing CosmoThemes and purchasing one of our Premium
                    <br>WordPress Themes your choice is greatly appreciated!
                  </div>

                  <!-- LAYER NR. 5 -->
                  <div class="tp-caption slider_dateevent sfb stb tp-resizeme" data-easing="Power4.easeOut" data-elementdelay="0.1" data-endeasing="Power4.easeOut" data-endelementdelay="0.1" data-endspeed="400" data-hoffset="0" data-speed="1200" data-splitin="none"
                    data-splitout="none" data-start="3500" data-voffset="70" data-x="center" data-y="center">12TH NOVEMBER, 2014 IN GUSH GARDEN
                  </div>

                  <!-- LAYER NR. 6 -->
                  <div class="tp-caption slider_dateevent customin customout tp-resizeme" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.05;scaleY:0.05;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.05;scaleY:0.05;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-easing="Power4.easeOut" data-elementdelay="0.1" data-endeasing="Power4.easeOut"
                    data-endelementdelay="0.1" data-endspeed="400" data-hoffset="0" data-speed="1200" data-splitin="none" data-splitout="none" data-start="4000" data-voffset="135" data-x="center" data-y="center">
                    <a class="tzbtn_slider" href='#'>JOIN THE EVENT</a>
                  </div>
                </li>
              </ul>
              <div class="tp-bannertimer"></div>
            </div>
          </div>
          <!-- END REVOLUTION SLIDER -->
        </div>
      </div>
    </div>
  </div>
</div>
