// Place all the styles related to the Admin/Preferences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.colorpicker-sample-box {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 100px;
  width: 150px;
  border-color: #C3C3C3;
  border-style: solid;
  border-width: 2px;
}

.bg-img-sample-box {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-color: #C3C3C3;
  border-style: solid;
  border-width: 2px;
  height: 200px;
  max-height: 600px;
}

.custom-form-group {
  border-bottom: 1px solid #c6c6c6;
  padding-bottom: 15px;
}

.custom-input-group-for-image {
  margin-bottom: 10px;
}

.custom-input-group-for-image .btn-group {
  margin-left: 10px;
}

label.normal-label {
  font-weight: normal;
}
