<nav class="pull-left menu-left-margin <%= local_assigns[:nav_class] %>">
  <ul class="tz-menu nav-collapse themeple_megemenu" id="menu-primary">
    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-has-children" id="menu-item-102">
      <%= link_to t('views.menu.home'), blog_path %>
    </li>

    <% Category.header_categories.each do |category| %>
      <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children" id="menu-item-183">
        <%= link_to category.name, by_category_path(category.id) %>
      </li>
    <% end %>
  </ul>
</nav>
