<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Just another WordPress site" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <title><%= t('generic.app_name') %></title>
    
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>

    <link rel='stylesheet' id='contact-form-7-css'  href='css/contact-form-7.css' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css'  href='css/revslider.css' type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-layout-css'  href='css/woocommerce-layout.css' type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-smallscreen-css'  href='css/woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' id='woocommerce-general-css'  href='css/woocommerce.css' type='text/css' media='all' />
    <link rel='stylesheet' id='awesome-css'  href='font/css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='Varela-css'  href='http://fonts.googleapis.com/css?family=Varela' type='text/css' media='all' />
    <link rel='stylesheet' id='Rouge-css'  href='http://fonts.googleapis.com/css?family=Rouge+Script' type='text/css' media='all' />
    <link rel='stylesheet' id='owl.carousel-css'  href='css/owl.carousel.css' type='text/css' media='all' />
    <link rel='stylesheet' id='owl.theme-css'  href='css/owl.theme.css' type='text/css' media='all' />
    <link rel='stylesheet' id='flexslider-css'  href='css/flexslider.css' type='text/css' media='screen' />
    <link rel='stylesheet' id='style-css'  href='style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='style-inline.css' type='text/css' media='all' />
    <link rel='stylesheet' id='js_composer_front-css'  href='css/js_composer_front.css' type='text/css' media='all' />
    <script type='text/javascript' src='js/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='js/revslider/jquery.themepunch.tools.min.js'></script>
    <script type='text/javascript' src='js/revslider/jquery.themepunch.revolution.min.js'></script>
    <script type="text/javascript">
        var themeprefix = 'plazart';
        var imgpath = 'images/';
    </script>
    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" href="vc-ie8.css" media="screen">
    <![endif]-->
</head>