// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu-left-margin {
  margin-left: 20px;
}

.blog-content {
  text-align: justify;
}

aside {
  > h3.right-section-header {
      color: #FFF !important;
  }
}

aside.widget_categories.widget.right-section-social-widget {
  border: none !important;
}

aside {
  > h3.module-title.title-widget.right-section-social-header {
      background-color: #FFF !important;
      color: #000 !important;
  }
}

.tzsidebar-event {
  margin-top: 0px;
}

.tz-header {
  padding: 24px 70px 30px 170px;
}