// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu-left-margin {
  margin-left: 20px;
}

.blog-content {
  text-align: justify;
}

aside {
  > h3.right-section-header {
      color: #FFF !important;
  }
}

aside.widget_categories.widget.right-section-social-widget {
  border: none !important;
}

aside {
  > h3.module-title.title-widget.right-section-social-header {
      background-color: #FFF !important;
      color: #000 !important;
  }
}

.tzsidebar-event {
  margin-top: 0px;
}

@media only screen and (min-width: 990px) {
  .tz-header {
    padding: 50px 0px 50px 0px;
  }
}

@media only screen and (max-width: 990px) {
  .tz-header {
    padding: 10px 0px 10px 0px;
  }
}

.tz-header-page .tzlogo {
  #logo-img{
    height: 100px;
  }

  #logo-text{
    height: 70px;
  }
}

.tz-menu {
  margin-top: 16px;
}
